footer{
    background-color: rgb(255, 170, 73);
    margin-top: 200px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.footer-column h4 {
    margin-bottom: 1rem;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons img {
    width: 24px;
    height: 24px;
}
